{% stylesheet %}
  #section-{{ section.id }} #block-{{ block.id }} .open-popup {
    position: absolute;
    top:{{ section.settings.position_top}}%;
    right:{{ section.settings.position_right }}%;
  }
{% endstylesheet %}
{% assign product = all_products[block.settings['custom-product']] %}
{% for image in product.images %}
  <div class="product-img-wrapper" id="block-{{ block.id }}">
    {{ image.src | image_url: width: 433, height: 444 | image_tag: class: 'custom-product-img' }}
    <button class="open-popup">
      <span class="svg-wrapper">{{ 'icon-plus-custom.svg' | inline_asset_content }}</span>
    </button>
    {% comment %}
      <img src="{{ image.src | product_img_url: 'grande' }}">
      {{ product.title }}
      {{ product.price | money_without_trailing_zeros }}
      {{ product.description }}
    {% endcomment %}
  </div>
{% endfor %}

{% schema %}
{
  "name": "Custom Product",
  "class":"custom-product-main",
  "settings": [
    {
      "type": "product",
      "id": "custom-product",
      "label": "Product"
    },
  ],
  "presets": [
    { "name": "Custom Product" },
  ]
}
{% endschema %}
