{% for block in section.blocks %}
  {% assign product = all_products[block.settings['custom-product']] %}
  {% for image in product.images %}
    <img src="{{ image.src | product_img_url: 'grande' }}">
    {{ product.title }}
    {{ product.price | money_without_trailing_zeros }}
    {{ product.description }}
  {% endfor %}
{% endfor %}
{% comment %}
  <div class="custom-product-wrapper">
    {%- unless block.settings['custom-product'] -%}
      {% render 'product-media-gallery', product: product, limit: 1 %}
    {%- else -%}
      <div class="product__media-item">
        <div
          class="product-media-container global-media-settings gradient{% if section.settings.constrain_to_viewport %} constrain-height{% endif %}"
          style="--ratio: 1.0; --preview-ratio: 1.0;"
        >
          {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      </div>
    {%- endunless -%}
    {{ block.settings['custom-product'] }}
  </div>
{% endcomment %}
{% schema %}
{
  "name": "Custom Product",
  "class":"custom-product-main",
  "settings": [
    {
      "type": "product",
      "id": "custom-product",
      "label": "Product"
    },
  ],
  "presets": [
    { "name": "Custom Product" },
  ]
}
{% endschema %}
