{% assign product = all_products[block.settings['custom-product']] %}
{% for image in product.images %}
  <div class="product-img-wrapper" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
    {{ image.src | image_url: width: 433, height: 444 | image_tag: class: 'custom-product-img' }}
    {% comment %}
      <img src="{{ image.src | product_img_url: 'grande' }}">
      {{ product.title }}
      {{ product.price | money_without_trailing_zeros }}
      {{ product.description }}
    {% endcomment %}
  </div>
{% endfor %}

{% schema %}
{
  "name": "Custom Product",
  "class":"custom-product-main",
  "settings": [
    {
      "type": "product",
      "id": "custom-product",
      "label": "Product"
    },
  ],
  "presets": [
    { "name": "Custom Product" },
  ]
}
{% endschema %}
