{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% style %}
  .text-{{ section.settings.desktop_content_alignment }}{
    text-align: {{ section.settings.desktop_content_alignment }};
  }
{% endstyle %}

<div class="custom-banner-content-wrapper banner banner--{{ section.settings.image_height }}">
  <div class="banner__media media custom-banner-image">
    {{
      section.settings['image-1']
      | image_url: width: 3840
      | image_tag: width: section.settings.image.width, height: section.settings.image.height
    }}
  </div>
  <div class="banner__content custom-banner-content banner__content--{{ section.settings.desktop_content_position }} {{ section.settings.custom-layout }}">
    <div class="banner__box custom-banner-box text-{{ section.settings.desktop_content_alignment }}">
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
    "type": "select",
    "id": "custom-layout",
    "label": "Layout",
    "default":"page-width",
    "options": [
      {
        "value": "full-width",
        "label": "Full Width"
      },
      {
        "value": "page-width",
        "label": "Page Width"
      },
    ],
    },
    {
    "type": "image_picker",
    "id": "image-1",
    "label": "Image"
    },
    {
    "type": "image_picker",
    "id": "image-2",
    "label": "Image"
    },
    {
    "type": "select",
    "id": "image_height",
    "options": [
      {
        "value": "adapt",
        "label": "t:sections.image-banner.settings.image_height.options__1.label"
      },
      {
        "value": "small",
        "label": "small"
      },
      {
        "value": "medium",
        "label": "medium"
      },
      {
        "value": "large",
        "label": "large"
      }
    ],
    "default": "large",
    "label": "t:sections.image-banner.settings.image_height.label"
    },
    {
    "type": "select",
    "id": "desktop_content_position",
    "options": [
    {
      "value": "top-left",
      "label": "top-left"
    },
    {
      "value": "top-center",
      "label": "top-center"
    },
    {
      "value": "top-right",
      "label": "top-right"
    },
    {
      "value": "middle-left",
      "label": "middle-left"
    },
    {
      "value": "middle-center",
      "label": "middle-center"
    },
    {
      "value": "middle-right",
      "label": "middle-right"
    },
    {
      "value": "bottom-left",
      "label": "bottom-left"
    },
    {
      "value": "bottom-center",
      "label": "bottom-center"
    },
    {
      "value": "bottom-right",
      "label": "bottom-right"
    }
    ],
    "default": "middle-center",
    "label": "Content Position"
    },
    {
    "type": "select",
    "id": "desktop_content_alignment",
    "options": [
      {
        "value": "left",
        "label": "left"
      },
      {
        "value": "center",
        "label": "center"
      },
      {
        "value": "right",
        "label": "right"
      }
    ],
    "default": "center",
    "label": "Alignment"
    },
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "presets": [
    {
      "name": "Custom Banner",
    }
  ],
}
{% endschema %}
