{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  {% for block in section.blocks %}
    #section-{{ section.id }} #block-{{ block.id }} .open-popup {
      position: absolute;
      top:{{ section.settings.position_top}}%;
      right:{{ section.settings.position_right }}%;
    }
  {% endfor %}
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="{{ section.settings.section-checkbox }}">
    <div class="custom-section-product">
      <div class="custom-section-text">
        <h2>{{ section.settings['section-heading-text'] }}</h2>
      </div>
      <div class="custom-product-grid" id="section-{{ section.id }}">
        {% for block in section.blocks %}
          <div id="block-{{ block.id }}">
            {{ block.type }}
            {{ block.settings['custom-product'] }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom grid view",
  "class": "custom-grid-view",
  "settings": [
    {
      "type": "richtext",
      "id": "section-heading-text",
      "label": "Heading",
    },
    {
      "type": "select",
      "id": "section-checkbox",
      "label": "Layout",
      "options": [
        {
          "label": "Full Width",
          "value": "full-width",
        },
        {
          "label": "Page Width",
          "value": "page-width",
        },
      ],
      "default":"page-width"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
     {
      "type": "header",
      "content": "Button Position"
    },
    {
      "type": "range",
      "id": "position_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Position Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "position_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Position Right",
      "default": 52
    }
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "presets": [
    {
      "name": "custom grid view",
    }
  ],
}
{% endschema %}
